body{
	font-family: 'Roboto', sans-serif;
	background-color: #e5eae6;
}

#header-nav{
	border-radius: 0;
	border-color: #797b66;
	background-color: #abb8a8;
}

li{
	margin: 10px 7px 7px 5px;
}

small{
	font-size: .5em;
}

#title{
	font-size: 2.5em;
	color:#2a211a;
}

#contactArea{
	background-color: #abb8a8;
	border: 1px solid #797b66;
	margin-top: 10px;
	display: inline-block;
	position: absolute;
	left:50%;
	width: 250px;
	margin-left: -125px;

}

p{
	text-indent: 2em;
}

a{
	color:#5066bd;
}