body{
	font-family: 'Roboto', sans-serif;
	background-color: #e5eae6;
}

#header-nav{
	border-radius: 0;
	border-color: #797b66;
	background-color: #abb8a8;
}

li{
	margin: 10px 7px 7px 5px;
}

small{
	font-size: .5em;
}

#title{
	font-size: 2em;
}

#contactArea{
	height: 30px;
	background-color: #abb8a8;
	border: 1px solid #797b66;
	margin-top: 10px;
}

p{
	text-indent: 2em;
}

a{
	color:#5066bd;
}